

#header-main {
    margin-top: 1%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#main-logo{
    margin-left: 20px;
    height: 30px;
    width: 200px;
    object-fit: scale-down;
}
#header-text{
    margin-right: 10%;
    display: flex;
    flex-direction: row;
    /* flex-wrap: wrap; */
}
#header-text input{
    margin-right: 20px;
    height: 17px;
    border-radius: 3px;
}
#header-text #header-text-button{
    background-color: grey;
    color: white;
    border-radius: 3px;
}
#header-text #header-text-button:hover{
    cursor: pointer;
    transform: scale(1.1);
    transition: 0.6s ease;
    box-shadow: 3px 3px black;
    background-color: white;
    color: black;
}
#header-main span{
    color: red;
    font-weight: bold;
}
#marquee-top{
    margin-top: 1%;
    display: none;
}
#inner-marquee{
    display: block;
}
#navbar-main{
    margin-top: 20px;
    height: 30px;
    width: 100%;
    background-color: gray;
    display: flex;
    flex-direction: row;
    text-decoration: none;
    justify-content: space-around;
    align-items: center;
    /* overflow: hidden; */
}
#navbar-main a{
    /* height: 100%; */
    text-decoration: none;
    color: white;
    padding: 4.5px;
    padding-left: 20px;
    padding-right: 20px;
    list-style: none;
}
#navbar-main a:hover{
    background-color: white;
    color: black;
    transition: 0.6s ease;
}
/* }
.dropdown{
    position: relative;
}
/* .dropdown > .link:focus .link:hover{
    background-color: black;
    color: white;
} */
/*
.dropdown-menu{
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    top: calc(100% + .28rem);
    background-color: gray;
    /* padding: 4.5px; */
    /*
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 3);
    opacity: 0;
    pointer-events: none;
    transform: translateY(-10px);
    transition: opacity 150ms ease-in-out, transform 150ms ease-in-out;
}
#up-arrow{
    display: none;
}
#down-arrow{
    display: inline-block;
}
.dropdown > .link:focus + .dropdown-menu{
    opacity: 1;
    transform: translateY(0px);
    pointer-events: auto;
}
.dropdown-menu{
    display: flex;
    flex-direction: column;
}

#navbar-main .dropdown .dropdown-menu a{
    z-index: 1;
} */
@media screen and (max-width: 767px) {
    #header-main {
        margin-top: 1%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    #marquee-top span{
        font-size: medium;
    }
    #main-logo{
        margin-right: 20px;
        height: 30px;
        width: 200px;
        object-fit: scale-down;
    }
    #header-text{
        margin-right: 10%;
    }
    #header-text #header-text-button{
        background-color: grey;
    }
    #navbar-main a{
        padding: 0px;
        font-size: small;
    }
  }
  
  /* On screens that are 600px wide or less, the background color is olive */
  @media screen and (max-width: 450px) {
    #header-main {
        /* margin-top: 20px; */
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    #marquee-top{
        display: block;
    }
    #inner-marquee{
        display: none;
    }
    #marquee-top span{
        color: red;
        font-size: 15px;
        font-weight: 400;
    }
    #main-logo{
        margin-left: 10px;
        height: 20px;
        width: 100px;
        object-fit: scale-down;
    }
    #header-text{
        margin-right: 5%;
    }
    #header-text #header-text-button{
        background-color: grey;
    }
    #header-main #header-text input{
        float: right;
        width: 110px;
        margin-right: 10px;
        margin-left: 10px;
        border-radius: 5px;
    }
    #header-main #header-text button{
        float: right;
        border-radius: 5px;
        margin-right: 5px;
        text-align: center;
    }
    #navbar-main a{
        padding: 0px;
        font-size: small;
    }
  }
  @media screen and (max-width: 280px) {
    #header-main {
        /* margin-top: 20px; */
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    #marquee-top span{
        font-size: 12px;
        font-weight: 700;
    }
    #main-logo{
        margin-left: 5px;
        height: 15px;
        width: 75px;
        object-fit: scale-down;
    }
    #header-text #header-text-button{
        background-color: grey;
    }
    #header-main #header-text input{
        float: right;
        width: 80px;
        margin-right: 10px;
        margin-left: 10px;
        border-radius: 5px;
    }
    #header-main #header-text button{
        float: right;
        border-radius: 5px;
        margin-right: 5px;
        text-align: center;
    }
  }